ul{
	margin:0;
	list-style:none;
	padding-left:0;
}
.CodeMirror-gutter-filler, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-vscrollbar {
    position: absolute;
    z-index: 6;
    display: none;
}
.CodeMirror-vscrollbar {
    right: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
.CodeMirror-hscrollbar {
    bottom: 0;
    left: 0;
    overflow-y: hidden;
    overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
    right: 0;
    bottom: 0;
}
.CodeMirror-scroll {
    overflow: scroll!important;
    margin-bottom: -30px;
    margin-right: -30px;
    padding-bottom: 30px;
    height: 100%;
    outline: 0;
    position: relative;
}
.CodeMirror-gutter, .CodeMirror-gutters, .CodeMirror-linenumber, .CodeMirror-scroll, .CodeMirror-sizer {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.x-layout-table-row {
    position:relative
}
.x-layout-table-row:after, .x-layout-table-row:before {
    content:" ";
    display:table;
    line-height:0
}
.x-layout-table-row:after {
    clear:both
}
.x-layout-table-item {
    position:relative;
    display:inline-block;
    vertical-align:middle
}
.formula-outer {
    color: #666;
}
.fields-list {
    width: 200px;
    float: left;
}
.field {
    position: relative;
    height: 30px;
    line-height: 30px;
}
.editor-outer{
	margin-left: 200px;
    border-left: 1px solid #ddd;
    height: 100%;
    position: relative;
}
.x-formula-editor{
	height:50%;
}
.x-formula-editor .CodeMirror{
	border-left:none;
}
.x-layout-table-item{
	width:100%;
	height: 50%;
}
.formula-category .children{
	height:0px;
	overflow: hidden;
}
.formula-category .children li{
	padding-left:40px;
	height:30px;
	line-height:30px;
	cursor: pointer;
}
.formula-category .children li:hover{
	background-color: rgba(36, 138, 249, 0.1);
	color:rgb(36, 138, 249);
}
.formula-category.expand .children{
	height:auto!important;
	overflow: auto;
}
.formula-category .icon-angleright:before{
    content: "▶";
    margin: 0px 5px;
    color: #6E85A1;
}
.formula-category.expand .icon-angleright:before{
	content:"▼";
}
.formula-menu {
    position: relative;
    float: left;
    border: 1px solid #e0e0e0;
    min-width: 150px;
    width:35%;
    height:  calc(100% - 120px);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.formula-menu .formula-list {
    position: absolute;
    top: 37px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}
.formula-menu .formula-list .formula-category .title {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    height: 24px;
    line-height: 24px;
}
.formula-intro {
    border: 1px solid #e0e0e0;
    margin-left: 36%;
    height: calc(100% - 120px);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.fields-list{
	width:200px;
	float:left;
}
.field{
	position: relative;
    height: 30px;
    line-height: 30px;
}
.filed:hover{
	background-color: #eee;
}
.menu-item .menu-capsule {
    position: absolute;
    top: 4px;
    right: 8px;
    bottom: 4px;
    text-align: center;
    line-height: 18px;
    padding: 0px 8px;
    border-radius: 10px;
}
.menu-capsule.style-blue {
    color: rgb(36, 138, 249);
    background: rgba(36, 138, 249, 0.1);
}
.menu-capsule.style-purple {
    color: rgb(140, 95, 251);
    background: rgba(140, 95, 251, 0.1);
}		
.menu-capsule.style-green {
    color: rgb(13, 179, 166);
    background: rgba(13, 179, 166, 0.1);
}
.menu-capsule.style-yellow {
    color: rgb(244, 183, 0);
    background: rgba(244, 183, 0, 0.1);
}
.formula-head {
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    background: #f3f8fb;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","å¾®è½¯é›…é»‘",Arial,sans-serif;
    z-index: 9;
}
.formula-head .formula-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 300px;
}
.formula-name {
    color: #761086;
}
.formula-head .formula-equal {
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
}
.formula-foot {
    background: #fff;
    position: absolute;
    bottom: 1px;
    left: 1px;
    right: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #989898;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","å¾®è½¯é›…é»‘",Arial,sans-serif;
    z-index: 9;
}
.formula-foot ul {
    font-size: 10px;
    padding: 5px 0 5px 15px;
    margin: 0 10px;
    border-top: solid 1px #e0e0e0;
}
.formula-foot ul li {
    line-height: 20px;
    list-style-type: disc;
}
.x-c-red {
    color: #d84636;
}
.x-c-key {
    color: #178cdf;
}
.formula-foot ul span.formula-key {
    margin: 0 3px;
    color: #708;
}
.formula-foot ul span.formula-field {
    padding: 0 5px;
    margin: 0 3px;
    display: inline-block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    background-color: #178cdf;
}
.CodeMirror {
    position: relative;
    overflow: hidden;
    background: #fff;
}
.CodeMirror {
    font-family: monospace;
    border: solid 1px #e0e0e0;
    cursor: text;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 100%;
    /*height: 100%;*/
    color: #000;
}
.CodeMirror-wrap{
	padding:44px 5px 74px 5px;
	font-size: 14px;
}
.cm-s-default .cm-keyword {
    color: #708;
}
.cm-s-default .cm-field {
    display: inline-block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0 5px;
    margin: 1px 1px;
    color: #fff;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","å¾®è½¯é›…é»‘",Arial,sans-serif;
}
.cm-s-default .cm-field.cm-field-name {
    background: #0DB3A6;
}